<td id="<%= room.name.downcase.gsub(" ", "_") %>" class="room room_id_<%= room.id %>" data-id="<%= room.id %>" data-url="<%= room_path(room.id) %>" >
  <div class="header">
    <h2><%= room.name %></h2>
    <ul class="options">
      <li>
        <a href="#" class="tool"><span class="ico ico-user"></span></a>
      </li>
      <li>
        <a href="#" class="tool"><span class="ico ico-reload"></span></a>
      </li>
      <li>
        <a href="#" class="tool"><span class="ico ico-tools"></span></a>
      </li>
    </ul>
  </div>
  <div class="search">
    <%= form_tag search_room_path(room.id) do %>
      <%= text_field_tag :query, "", :class => "search-bar" %>
      <%= submit_tag "", :class => "submit" %>
    <% end %>
  </div>

  <div class="chat-wrapper">
    <div class="chat">
      <div class="inner">
        <%= render "rooms/chat", :room => room %>
      </div>
    </div>
    <div class="speak">
      <%= render "messages/form", :room => room %>
    </div>
  </div>
</td>