<td id="<%= room.name.downcase.gsub(" ", "_") %>" class="room room_<%= room_count %>" data-id="<%= room.id %>" >
  <div class="header">
    <h2><%= room.name %></h2>
    <ul>
      <li><%= link_to "", "#" %></li>
    </ul>
  </div>
  <div class="options">
    
  </div>

  <div class="chat-wrapper">
    <div class="chat">
      <div class="inner">
        <%= render "rooms/chat", :room => room %>
      </div>
    </div>
    <div class="speak">
      <%= render "messages/form", :room => room %>
    </div>
  </div>
</td>