<script type="text/javascript" charset="utf-8">
  $(function() {
    var jug = new Juggernaut;
<% @rooms.each_with_index do |room, i| %>
      jug.subscribe("<%= room.id %>", function(data){
        $("#<%= room.name %>").append(data.body + " by " + data.user.name);
      });
<% end %>
  })
</script>


<% @current_rooms.each do |room| %>
  <div class="room" id="<%= room.name.downcase %>">
    <%= room.name %>

    <div class="chat">

    </div>

    <%= render "messages/form" %>
  </div>
<% end %>