<!DOCTYPE html>
<html>
  <head>
    <title>Campfire</title>
    <%= stylesheet_link_tag "style" %>
    <%= javascript_include_tag "jquery-1.4.4.min", "rails", "application" %>
    <script src="http://localhost:8080/application.js" type="text/javascript" charset="utf-8"></script>
    <%= csrf_meta_tag %>
  </head>
  <body>

    <%= render "rooms/all_rooms" %>

    <%= yield %>

  </body>
</html>
