<!DOCTYPE html>
<html>
  <head>
    <title>ChallengeCamp</title>
    <%= render "layouts/stylesheets" %>
    
<%#*<script src="/socket.io/socket.io.js"></script>%>
    <%= csrf_meta_tag %>
  </head>
  <body>

    <%= render "rooms/all_rooms" %>

    <%= yield %>

  </body>

  <%= render "layouts/javascripts" %>
</html>
